.header {
    color: rgb(3, 31, 5);
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;

}

.navigation {
    display: flex;
    background-color: green;
    border: 1px;
    border-color: black;
    border-radius: 100px;
    height: 50px;
    top: 0;
    position: fixed;
    width: 98.5vw;
    left: 0;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

.all-images {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    border: 1px black;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    display: flex;
    border-radius: 15px;
    background-color: darkgreen;
    margin-top: 30px;
    bottom: 0;
}

.images {
   border: 1px solid gray;
   width: 200px;
   height: 130px;
   text-align: center;
   border-radius: 30px;
   padding: 80px;
   background-color: rgb(129, 68, 68);
}

img {
    height: 150px;
    width: 250px;   
}

p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
